[run]
omit =
	# not yet sure where these are coming, but coverage get a ref. to these, which are non-existent here:
    config-3.py
    config.py
    shibokensupport/*
    signature_bootstrap.py
    */tests/*
    */auto-trainer-api/*

# allow coverage in python sub-processes (subprocess):
# patch = subprocess  # only valid from coverage 7.11+ but one for py3.8 is stuck lower.
# so using coverage-enable-subprocess for now.

parallel = true
# still needed

sigterm = true

[report]
show_missing = True
omit =
    config-3.py
    config.py
    shibokensupport/*
    signature_bootstrap.py
    */tests/*
    */auto-trainer-api/*
