# from least specific/dependant to most:

-e auto-trainer-core/

-e auto-trainer-device/
-e auto-trainer-model/
-e auto-trainer-video/
-e auto-trainer-pyside/
-e auto-trainer-inference/

-e auto-trainer-behavior/

# available public on PyPi :
auto-trainer-training >= 0.9.3
auto-trainer-api >= 0.9.1
